<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="nsmjsf">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">impeccable1</property>
        <property name="hibernate.connection.url">jdbc:mysql://103.233.58.60:3306/admin_nsmjsf</property>
        <property name="hibernate.connection.username">admin_nsmjsf</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.nsmjsf.web.datamodels.Agm" />
        <mapping class="com.nsmjsf.web.datamodels.AllotmentResult" />
        <mapping class="com.nsmjsf.web.datamodels.Announcement" />
        <mapping class="com.nsmjsf.web.datamodels.Notification" />
        <mapping class="com.nsmjsf.web.datamodels.CrawlerSettings" />
        <mapping class="com.nsmjsf.web.datamodels.FinancialReport" />
        <mapping class="com.nsmjsf.web.datamodels.IndexType" />
        <mapping class="com.nsmjsf.web.datamodels.UserWatchListStock" />
        <mapping class="com.nsmjsf.web.datamodels.EnergyType" />
        <mapping class="com.nsmjsf.web.datamodels.Sector" />
        <mapping class="com.nsmjsf.web.datamodels.CurrencyType" />
        <mapping class="com.nsmjsf.web.datamodels.PostCategory" />
        <mapping class="com.nsmjsf.web.datamodels.IssueManager" />
        <mapping class="com.nsmjsf.web.datamodels.PostLike" />
        <mapping class="com.nsmjsf.web.datamodels.TodaysPriceDump" />
        <mapping class="com.nsmjsf.web.datamodels.UserEnergy" />
        <mapping class="com.nsmjsf.web.datamodels.AnnouncementType" />
        <mapping class="com.nsmjsf.web.datamodels.News" />
        <mapping class="com.nsmjsf.web.datamodels.FloorsheetHeader" />
        <mapping class="com.nsmjsf.web.datamodels.TodaysPrice" />
        <mapping class="com.nsmjsf.web.datamodels.FiscalYear" />
        <mapping class="com.nsmjsf.web.datamodels.MonthlyFinancialHighlight" />
        <mapping class="com.nsmjsf.web.datamodels.UserBullion" />
        <mapping class="com.nsmjsf.web.datamodels.Comment" />
        <mapping class="com.nsmjsf.web.datamodels.LatestPrice" />
        <mapping class="com.nsmjsf.web.datamodels.FinancialHighlight" />
        <mapping class="com.nsmjsf.web.datamodels.CompanyDetail" />
        <mapping class="com.nsmjsf.web.datamodels.FloorsheetDump" />
        <mapping class="com.nsmjsf.web.datamodels.UserBullionSales" />
        <mapping class="com.nsmjsf.web.datamodels.UserPortfolio" />
        <mapping class="com.nsmjsf.web.datamodels.ForumThread" />
        <mapping class="com.nsmjsf.web.datamodels.BasePrice" />
        <mapping class="com.nsmjsf.web.datamodels.KeyRatio" />
        <mapping class="com.nsmjsf.web.datamodels.Issue" />
        <mapping class="com.nsmjsf.web.datamodels.Interview" />
        <mapping class="com.nsmjsf.web.datamodels.180Average" />
        <mapping class="com.nsmjsf.web.datamodels.Company" />
        <mapping class="com.nsmjsf.web.datamodels.BodType" />
        <mapping class="com.nsmjsf.web.datamodels.UserType" />
        <mapping class="com.nsmjsf.web.datamodels.CurrencyRate" />
        <mapping class="com.nsmjsf.web.datamodels.Event" />
        <mapping class="com.nsmjsf.web.datamodels.UserStockSales" />
        <mapping class="com.nsmjsf.web.datamodels.MapPostPost" />
        <mapping class="com.nsmjsf.web.datamodels.Post" />
        <mapping class="com.nsmjsf.web.datamodels.ProfitLoss" />
        <mapping class="com.nsmjsf.web.datamodels.Quarter" />
        <mapping class="com.nsmjsf.web.datamodels.Bod" />
        <mapping class="com.nsmjsf.web.datamodels.MarketIndex" />
        <mapping class="com.nsmjsf.web.datamodels.Month" />
        <mapping class="com.nsmjsf.web.datamodels.CommentSocial" />
        <mapping class="com.nsmjsf.web.datamodels.CompanyBranch" />
        <mapping class="com.nsmjsf.web.datamodels.UserInfo" />
        <mapping class="com.nsmjsf.web.datamodels.MapPostCategory" />
        <mapping class="com.nsmjsf.web.datamodels.BonusDividend" />
        <mapping class="com.nsmjsf.web.datamodels.PostImage" />
        <mapping class="com.nsmjsf.web.datamodels.Broker" />
        <mapping class="com.nsmjsf.web.datamodels.BonusDividendApproved" />
        <mapping class="com.nsmjsf.web.datamodels.User" />
        <mapping class="com.nsmjsf.web.datamodels.NewLow" />
        <mapping class="com.nsmjsf.web.datamodels.Auction" />
        <mapping class="com.nsmjsf.web.datamodels.EnergyPrice" />
        <mapping class="com.nsmjsf.web.datamodels.AuditStatus" />
        <mapping class="com.nsmjsf.web.datamodels.Balancesheet" />
        <mapping class="com.nsmjsf.web.datamodels.Floorsheet" />
        <mapping class="com.nsmjsf.web.datamodels.IssueType" />
        <mapping class="com.nsmjsf.web.datamodels.BullionType" />
        <mapping class="com.nsmjsf.web.datamodels.UserEnergySales" />
        <mapping class="com.nsmjsf.web.datamodels.UserWatchList" />
        <mapping class="com.nsmjsf.web.datamodels.BullionPrice" />
        <mapping class="com.nsmjsf.web.datamodels.MapPostCompany" />
        <mapping class="com.nsmjsf.web.datamodels.UserStock" />
        <mapping class="com.nsmjsf.web.datamodels.NewHigh" />
        <mapping class="com.nsmjsf.web.datamodels.Article" />
        <mapping class="com.nsmjsf.web.datamodels.CertificateDividendDistribution" />
        <mapping class="com.nsmjsf.web.datamodels.Proxy" />
    </session-factory>
</hibernate-configuration>
